@font-face {
  font-family: pageFont;
  src: url('fonts/Roboto-Regular.ttf');
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  background-color: #262626;
  grid-template-rows: 50px 1fr;
  font-family: pageFont;
}

header {
  background-color: #171717;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
}

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-location {
  border: 1px solid white;
  border-right: none;
  padding: 5px;
  height: 24px;
  border-radius: 5px 0 0 5px;
  outline: none;
  background-color: #171717;
  color: white;
}

.search-button {
  width: 40px;
  height: 36px;
  border: 1px solid white;
  border-radius: 0 5px 5px 0;
  background: #171717;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
}

.temperature-metric {
  width: 80px;
  height: 34px;
  border: 1px solid white;
  background: #171717;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

.current-weather-container {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  height: 200px;
  width: fit-content;
  display: grid;
  grid-template-rows: fit-content;
}

.current-location {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}

.current-temperature {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: bold;
}

.current-weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.high-low {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
}

.hourly-weather-container {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  width: 500px;
  overflow: scroll;
  overflow-y: hidden;
}

.hourly-weather {
  border: 1px solid white;
  text-align: center;
  padding: 10px 0 10px 0;
  font-weight: bold;
}

.weekly-weather-container {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  font-weight: bold;
  width: 500px;
}

.weekly-weather {
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 10px;
}

.day-week-temperature {
  display: flex;
  gap: 10px;
}

.day-high-temperature {
  color: #fbbf24;
}

.day-low-temperature {
  color: #22d3ee;
}
